/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    color: white;
    background-color: cadetblue;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.kontejner {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    
}

.hlavni {
    max-width: inherit;
    min-height: 200px;
    display:block;
}

.maly {
    
    min-height: 90px;
    display:block;
}

.hlavni {
    position: relative;
}

.maly2 {
    position: relative;
}

.nadpis-hlavni {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1,75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.nadpis-salaty {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 0,8rem;
}

.komentare {
    position: absolute;
    top: 8px;
    right: 16px;
}

.obrazek-hlavni-recept {
    object-fit: cover;
    object-position: center;
    height: 33vh;
}

.obrazek-vedlejsi-recept {
    object-fit: cover;
    object-position: center;
    height: 16vh;
}

@media (min-width: 480px) {
    .kontejner {
        flex: 50%;
        max-width: 50%;
    }
}

@media (min-width: 860px) {
    .kontejner {
        flex: 33%;
        max-width: 33%;
    }
}